*{
    margin: 0;
    padding: 0;
}
/* esta parte es de la tipografia*/
@font-face{
    font-family: Sc;
    src: url(../fonts/Starcraft\ Normal.ttf);
}
/* +++++++++++ */ 
body{
    background-color: #1a2737;
    width: 100%;
    text-align: center;
}
h1 ,h2{
    font-family: Sc;
    color: white;
    text-transform: uppercase;
}

span{
    font-size: 11vw;
}
header{
    background-color: #0a101e;
    text-align: center;
    padding: 3vw;
}
.titulo{
    color: #6296C5;
    letter-spacing: 5px;
    font-size: 8vw;
}
h1{
    padding: 5vh;
    font-size: 5vw;
}
.contenedor{
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template: 1fr  1fr /1fr 1fr 1fr;
    gap: 10vw 5vw;
    justify-items: center;
}
.contenedor>div{
    text-align: center;
}
.unidad{
    color: white;
    font-size: 2.5vw;
    padding-bottom: 3vh;
}
img{
    width: 20vw;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.item{
    width: auto;
}
.fo{
    padding: 3vh;
    width: 10vw;
}
.fo:hover{
    border:0;
    transform:none;
}
footer{
    background-color: #0a101e;
    width: 100%;
    text-align: center;
}
.foh{
    padding: 2vh;
    font-size: 3vw;
}
img:hover {
    border: white 1px solid;
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    .contenedor {
        grid-template: 1fr / 1fr 1fr;
    }
    h1{
        font-size: 6vw;
    }
    .foh{
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .contenedor {
        grid-template: 1fr / 1fr; 
    h1{
        font-size: 8vw;
    }
    .foh{font-size: 5vw;}
    .titulo{
        font-size: 10vw;
    }
    }
}
